{{#if questionForm}}
<hr>
  <h3>Ask a question:</h3>
  <form>
    <label for="author">Name:</label>
    {{input value=author id="author"}}

    <label for="question">What is your question?:</label>
    {{input value=question id="question"}}

    <label for="notes">Tell me some details:</label>
    {{input value=notes id="notes"}}

    <button class="btn btn-default" {{action 'saveQuestion'}}>Post question</button>
  </form>
{{else}}
  <button class="btn btn-default" {{action 'questionFormShow'}}>Post it below</button>
{{/if}}
