<hr>
{{#if questionForm}}
  <h3>Enter your question Below:</h3>
  <form>
    <label for="author">Name:</label>
    {{input value=author id="author"}}

    <label for="author">What is your question?:</label>
    {{input value=question id="question"}}

    <label for="author">Tell me some details:</label>
    {{input value=notes id="notes"}}

    <button class="btn btn-default" {{action 'saveQuestion'}}>Post question</button>
  </form>
{{else}}
  <button class="btn btn-default" {{action 'questionFormShow'}}>Have a question?</button>
{{/if}}
