<h3>{{model.question}}</h3>
<h5>{{model.notes}}</h5>
<h5><em>~{{model.author}}</em></h5>

{{update-question model=model updateQuestion='updateQuestion'}}

<hr>
<h3>Answers:</h3>
{{new-answer saveAnswer='saveAnswer' question=model}}

{{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
{{/each}}
